<div class="jumbotron">
    <h1>Hello, Stranger!</h1>
    <p>어머! 아무것도 없네요. 하지만 무언가를 내가 최초로 만든다는 건 멋진 일이죠.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">  하나 만드시겠어요 ?</a></p>
</div>