<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>어서오세요 ! 처음으로 프로젝트를 만들 수 있는 행운에 당첨되셨습니다 ! 와우 ! 와. 와...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">하나 만드시겠어요 ?</a></p>
</div>