<% data.forEach(function (item,index) { %>

<div class="list-group" type="project" data-id = "<%= item.idProject %>">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= item.Name %> </h4>
      <p class="list-group-item-text"><%= item.Uname %></p>
    </div>
</div>
<% }); %>