<% data.forEach(function (item,index) { %>

<div class="list-group" type="topic" data-value = "<%= item.idtopic %>">
    <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= item.Title %> </h4>
        <p class="list-group-item-text"><%= item.Content %></p>
    </div>
</div>
<% }); %>

